<%= form_for [@project, @document] do |f| %>
  <%= f.label :name, "ファイル名" %>
  <%= f.text_field :name %>
  <%= hidden_field_tag :project_id, @project.id %>
  <%= f.submit "アップロード" %>
<% end %>

<ul>
  <% @documents.each do |document| %>
    <li><%= link_to document.name, document_path(document) %></li>
  <% end %>
</ul>

<%= link_to "プロジェクト一覧", projects_path %>
