<h1><%= @document.name %></h1>
<%= link_to "ドキュメント一覧へ戻る", project_documents_path(@document.project) %>

<div id="new_version_form">
  <%= render partial: 'versions/form', locals: { document: @document } %>
</div>

<div class="columns">
  <div class="column is-quarter">
    <div id="left-side-nav">
      <ul>
        <% Project.all.each do |project| %>
            <li>
              <%= link_to project.name, project_documents_path(project) %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
  <div class="column">
    <ul>
      <% @versions.each do |version| %>
        <% next unless version.persisted? %>
        <li><%= link_to version.updated_at, version_path(version), remote: true %></li>        
      <% end %>
    </ul>
    <div id="results-posts"></div>
  </div>

  <div class="column">
    <% @versions.each do |version| %>
      <% next unless version.persisted? %>
      <%= render partial: 'versions/card', locals: { version: version } %>
    <% end %>
  </div>
</div>
