<h1><%= @document.name %></h1>
<%= link_to "ドキュメント一覧へ戻る", project_documents_path(@document.project) %>

<div id="new_version_form">
  <%= render partial: 'versions/form', locals: { document: @document } %>
</div>

<% @versions.each do |version| %>
  <% next unless version.persisted? %>
  <div class="card">
    <div class="content">
      <%= content_tag :h2, "VERSION #{version.version_no}" %>
      <%= link_to "ダウンロード", version.attachment.url(:medium) %>
      <div class="posts" id="<%= "posts_for_version_#{version.id}" %>">
        <%= render version.posts %>
      </div>
    </div>
  </div>

  <div class="new_post_form">
    <%= render partial: 'posts/form', locals: { post: @post, version: version } %>
  </div>
<% end %>
