<h1><%= @document.name %></h1>
<%= link_to "ドキュメント一覧へ戻る", project_documents_path(@document.project) %>

<div id="new_version_form">
  <%= render partial: 'versions/form', locals: { document: @document } %>
</div>

<div class="columns">
  <h2>ドキュメント</h2>
  <div class="column is-quarter">
    <div id="left-side-nav">
      <ul>
        <% @document.project.documents.each do |document| %>
            <li>
              <%= link_to document.name, document_path(document) %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
  <div class="column">
    <h2>バージョン</h2>
    <ul>
      <% @versions.each do |version| %>
        <% next unless version.persisted? %>
        <li><%= link_to version.updated_at, version_path(version), remote: true, class: "document-select" %></li>
      <% end %>
    </ul>
  </div>

  <div class="column">
    <h2>コメント</h2>
    <div id="results-posts">
      <%= render partial: 'versions/card', locals: { version: @document.versions.first, posts: @document.posts.per_page_kaminari(1) } %>
    </div>
  </div>
</div>
